.browse-category-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px gray;
    background-color: gray;
    height: 600px;
    min-width: 500px;
    max-width: 700px;
    overflow: scroll;
}


.browse-category-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding: 50px 0px;
}