.browse-page {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* implementing a card like view */
.stack-browse {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px gray;
    background-color: gray;
    /* padding-right: 30px; */
    height: 700px;
    min-width: 500px;
    max-width: 700px;
    overflow: scroll;
    margin-left: 50px;
}

.stack-browse-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stack-browse-tools {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.create-stack-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width:1000px){
    h1 {
        font-size: 30px;
    }

    .stack-browse{
        max-width: 500px;
        margin-top: 30px;
    }

    .browse-page {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .stack-browse-tools {
        border-right: none;
    }
}
