.home-body {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stack {
    text-decoration: none;
    color: #708090;
    font-size: larger;
    font-weight: normal;
    position: relative;
}

.categories-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.categories {
    width: 100%;
    height: 65px;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    overflow-x: scroll;
    background-color: #333333;
    border-radius: 0.4em;
    box-shadow: #333333 2px 2px 10px;
}


.recent-stacks {
    width: 100%;
    height: 155px;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    overflow-x: scroll;
    background-color: #8B8B81;
    border-radius: 0.4em;
    box-shadow: #8B8B81 2px 2px 10px;
}

.categories::-webkit-scrollbar {
    -webkit-appearance: none;
}

.categories::-webkit-scrollbar:horizontal {
    height: 10px;
}

.categories::-webkit-scrollbar-thumb {
    border-radius: 0.5em;
    background-color: sienna;
    border: 1px solid sienna;
}

.recent-stacks::-webkit-scrollbar {
    -webkit-appearance: none;
}

.recent-stacks::-webkit-scrollbar:horizontal {
    height: 10px;
}

.recent-stacks::-webkit-scrollbar-thumb {
    border-radius: 0.5em;
    background-color: sienna;
    border: 1px solid sienna;
}

.category {
    display: flex;
    text-align: horizontal;
}

.category-nav-link {
    text-decoration: none;
    color: white;
    width: 150px;
}

.category-nav-link:hover {
    color: sienna;
}