.multiple-stacks-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.delete-stack {
    font-weight: bold;
    width: 21px;
    height: 20px;
    background-color: red;
    border: 1px solid red;
    color: white;
    border-radius: 50%;
    position: relative;
    right: 13px;
    bottom: 10px;
}

.delete-stack:hover {
    color: black;
}

/* Original styling of stacks: */
/* .stack {
    text-transform: uppercase;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    border: gray 5px solid;
    border-radius: 0.25em;
    width: 250px;
    height: 120px;
    margin: 10px;
} */

/* Tried to make cards look a bit cooler: */
.stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 300px;
    height: 120px;
    text-transform: uppercase;
    background-color: white;
    border: gray 3px solid;
    border-radius:2% 40% 2% 20%/95% 5% 80% 10%;
    transform: rotate(-1deg);
}

.stack:hover {
    border-color: sienna;
    width: 310px;
    height: 130px;
    /* margin: 15px */
}

.stack a {
    text-decoration: none;
    color: #708090;
    font-size: larger;
    font-weight: normal;
    position: relative;
    top: 30px;
}

.stack a:hover,p:hover {
    color: #001f3f;
    font-weight: bolder;
}

.stack p {
    position: relative;
    top: 18px;
    font-size: 12px;
}

#by-statement {
    bottom: 10px
}