.single-stack-body {
    display: grid;
    grid-template-columns: 50% 50%;
}

.single-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 300px;
    height: 200px;
    text-transform: uppercase;
    background-color: white;
    border: gray 3px solid;
    border-radius:2% 40% 2% 20%/95% 5% 80% 10%;
    transform: rotate(-1deg);
}

.single-stack-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: gray solid;
}

.stack-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-stack:hover {
    border-color: sienna;
}

.single-stack a {
    text-decoration: none;
    color: #708090;
    font-size: larger;
    font-weight: normal;
    position: relative;
    top: 30px;
}

.single-stack p {
    position: relative;
    top: 18px;
    font-size: 12px;
}

.how-to-play:hover + button {
    animation: shimmy 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shimmy {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    20% {transform: translate(-1px, -1px) rotate(1deg);}
    40% {transform: translate(2px, 2px) rotate(-1deg);}
    60% {transform: translate(-2px, -2px) rotate(1deg);}
    80% {transform: translate(-1px, -1px) rotate(-1deg);}
    100% {transform: translate(1px, 1px) rotate(0deg);}
  /* 50% { transform: translate(-1px, -2px) rotate(-1deg); }
  100% { transform: translate(1px, 1px) rotate(-1deg); } */
}