/* TODO Add site wide styles */
body {
    padding: 20px;
    background-color: #F2F2F2;
}

button {
    width: 115px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background-color: #333333;
    padding: 5px;
}

button:hover {
    background-color: sienna;
}

h1,h2,h3,h4,h5 {
    text-shadow: 0px 0px 2px gray;
    font-family: 'Rockwell', 'Arial Black', Arial;
    text-transform: uppercase;
}