body {
    background-color: #F2F2F2;
    padding: 15px;
}

button {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background-color: #333333;
    padding: 5px;
}

button:hover {
    background-color: sienna;
}

h1,h2,h3,h4,h5 {
    font-family: 'Rockwell';
    text-transform: uppercase;
}