* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif
}

.navbar {
  margin: -25px;
  margin-bottom: 50px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-start;
  height: 120px;
  align-items: center;
  /* background-color: #C5C5C5; */
  background: linear-gradient(#C5C5C5, #F2F2F2);
  z-index: 1;
}

.nav {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
}

.nav-link {
  font-weight: bold;
  color: #333333;
  margin-left: 50px;
  text-decoration: none;
  position: relative;
  top: 65px;
}

.nav-link:hover {
  color: #6D6D64;
}

#logo {
  height: 100px;
  width: 250px;
}