* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif
}

.navbar {
  display: flex;
  flex-direction: column;
  margin: -10px;
  width: auto;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 90px;
  background-color: #333333;
}



.nav {
  display:grid;
  grid-template-columns: 50% 50%;
  list-style-type: none;
}

.full-size-nav { 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-right: 100px;
  padding-top: 20px;
  justify-content: space-evenly;
}

.nav-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background-color: #333333;
    margin-top: 16px;
}

#menu-button {
  font-size: 15px;
}

#menu-button:hover {
  background-color: #333333;
}


#logo {
  height: 100px;
  width: 250px;
  position: relative;
  bottom: 10px;
  filter: drop-shadow(3px 3px 0 black);
}

.dropdown-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width:1000px) {
  .dropdown-nav {
    display: none;
  }

  .nav-link:hover {
    color: sienna;
  }
}

@media (max-width:1000px) {
  .full-size-nav {
    display: none;
  }

  .nav-link {
    padding: 20px 0px 20px 0px;
  }

  .nav-link:hover {
    background-color: sienna;
    color: white;
  }
}

.dropdown-content {
  width: 130px; 
  display: none;
  background-color: #333333;
}

.dropdown-nav:hover .dropdown-content {
  display: block;
}


